$image-bkg-color: #333333;
$description-color: #E4E4E4;
$loading-color: white;
$title-overlay-color: rgba(64, 64, 64, 0.5);
$title-color: white;
$notice-bkg-color: $image-bkg-color;
$notice-color: $title-color;
$gallery-border-color: grey;
